.tab-content {
	padding: 10px;
}
.tabtop .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	border-top: 4px solid #F89A14 !important;
	border-right: 1px solid #F89A14 !important;
	border-left: 1px solid #F89A14 !important;
}
.navbar .nav .dropdown-toggle .caret {
	margin-top: -12px ! important;
}
.jcrop-holder #preview-pane {
	display: block;
	position: absolute;
	z-index: 2000;
	top: 10px;
	right: -280px;
	padding: 6px;
	border: 1px rgba(0,0,0,.4) solid;
	background-color: white;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
	box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
}
/* The Javascript code will set the aspect ratio of the crop
       area based on the size of the thumbnail preview,
       specified here */
#preview-pane .preview-container {
	width: 250px;
	height: 170px;
	overflow: hidden;
}
/* 5tab */
.optdual {
	position: relative;
}
.optdual .offset {
	position: absolute;
	left: 18em;
}
.optlist label {
	width: 16em;
	display: block;
}
#dl_links {
	margin-top: .5em;
}
/* 5 tab ends */
    /* 7th tab */

#target7 {
	background-color: #ccc;
	width: 500px;
	height: 330px;
	font-size: 24px;
	display: block;
}
     /* end of 7th tab */
.back-to-top {
	cursor: pointer;
	position: fixed;
	bottom: 30px;
	right: 30px;
	display: none;
	border-radius: 50%;
	padding: 15px;
	border: none !important;
	font-size: 10px;
	opacity: 0.7;
	border: 1px solid #0FF;
	z-index: 9999;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
