
.form-position.top {
margin-top: 0;
margin-bottom:42px;
border-top: 0;

}
.form-position {
margin: 0;

}
.pad-top20{
    padding-top: 24px !important;
}

.pad-top40{
    padding-top: 40px !important;
}
.form-bordered .form-group > div {
padding: 15px;
border-left: 1px solid #efefef;
}
.form-bordered .form-group {
margin: 0;
border-bottom: 1px solid #efefef;
}
.border  {
/* margin: 0; */
padding: 0;
}
.form-bordered .control-label {
padding-top: 24px !important;
margin-bottom: 0;
text-align: right;
}
.form-bordered-row .form-group {
margin: 0;
border-bottom: 1px solid #efefef;
}
.form-bordered-row .control-label {
padding-top: 24px !important;
margin-bottom: 0;
text-align: right;
}
.form-bordered-row .form-group > div {
padding: 15px;

}
.mar-top {
margin-top: 10px !important;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
color: #555;
background-color: #EBEBEB;
/* border: 1px solid #ddd; */
border-top: 3px solid #418bca;
border-bottom-color: transparent;
cursor: default;
margin-top: -2px;
}
.striped-col {
background-color: #f9f9f9;

}