.demo-container {

	width: 99%;
	height: 350px;
	padding: 0px;
	margin: 15px auto 0px auto;	
}

.demo-placeholder {
	width: 100%;
	height: 100%;
	font-size: 14px;
	line-height: 1.2em;
}
.demo-placeholder1{
	height: 300px;
}
.legend table {
	border-spacing: 5px;
}
.panel-primary > .panel-heading {
color: #000;
 background-color: #fff; 
 border-color: #fff; 
}

