.spark-chart {
	margin: 10px 0px 10px 0px;
	padding: 10px 10px 10px 30px;
	text-align: center;
}
.minichart-box {
	font-color: #000;
	font-size: 15px;
	margin-bottom: 10px;
}
.minichart-txt {
	font-color: #cccc;
	font-size: 11px;
	text-align: center;
	margin: 10px 0px 0px 15px;
}
